<a href="https://colab.research.google.com/github/geosefuy/sthciux-cashless/blob/master/%5BSTHCIUX%5D%20Needfinding%20Study%20Exploratory%20Data%20Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from collections import Counter

In [3]:
url = 'https://raw.githubusercontent.com/geosefuy/sthciux-cashless/master/cashless.csv'
responses_df = pd.read_csv(url)
responses_df

              Timestamp  ... Which of the following establishments do you want to implement / maintain cashless transaction systems? (Select all that apply)
0   11/12/2020 14:22:32  ...  Supermarkets, Convenience Stores, Payment Cent...
1   11/12/2020 14:29:15  ...  Supermarkets, Convenience Stores, Sari-sari St...
2   11/12/2020 14:37:57  ...  Supermarkets, Department Stores, Appliance Cen...
3   11/12/2020 14:44:33  ...  Supermarkets, Convenience Stores, Sari-sari St...
4   11/12/2020 14:51:18  ...  Supermarkets, Convenience Stores, Department S...
..                  ...  ...                                                ...
63  11/23/2020 22:04:24  ...  Supermarkets, Convenience Stores, Sari-sari St...
64   11/24/2020 0:24:35  ...  Supermarkets, Convenience Stores, Sari-sari St...
65   11/24/2020 8:36:12  ...  Supermarkets, Convenience Stores, Payment Cent...
66  11/24/2020 19:19:10  ...  Supermarkets, Department Stores, Appliance Cen...
67  11/24/2020 23:43:22  ...  Supermarkets, Convenience Stores, Sari-sari St...

[68 rows x 20 columns]

#Drop unneeded data

In [4]:
responses_df = responses_df.drop(['Timestamp', 'Are you willing to participate in a separate interview session for the research at hand?', 'Contact Number', 'Email Address'], axis=1)

#Rename questions to shorter column names

In [5]:
responses_df.rename(columns = {'Average Monthly Allowance (PHP)': 'allowance', 'Do you have a credit / debit card?': 'card_use', 'How often do you use your credit / debit card for payment transactions per month?': 'card_usage'}, inplace=True)
responses_df.rename(columns = {'Do you have a payment application (e.g. GCash, PayMaya)?': 'pay_app_use', 'How often do you use these applications for payment transactions per month?': 'pay_app_usage', 'On average, how often do use cashless transactions systems in your payment transactions per month?': 'cashless_usage'}, inplace=True)
responses_df.rename(columns = {'On what type of transactions do you usually use cashless transactions systems. Select all that apply. (Answer N/A if you always pay in cash)':'cashless_use_type', 'On average, how often do you encounter establishments that have cashless transactions systems per month?': 'cashless_encounter'}, inplace=True)
responses_df.rename(columns = {'From what you know or have encountered, which of the following establishments implement cashless transaction systems?': 'cashless_implement', 'On average, how would you rate current cashless transaction systems?': 'rating', 'Which of the following establishments do you want to implement / maintain cashless transaction systems? (Select all that apply)': 'cashless_implement_want'}, inplace=True)
responses_df.rename(columns = {'In your opinion, what are the possible advantages when more people use cashless systems?': 'advantages', 'In your opinion, what are the possible disadvantages when more people use cashless systems?': 'disadvantages'}, inplace=True)
responses_df

       Sex  ...                            cashless_implement_want
0   Female  ...  Supermarkets, Convenience Stores, Payment Cent...
1     Male  ...  Supermarkets, Convenience Stores, Sari-sari St...
2     Male  ...  Supermarkets, Department Stores, Appliance Cen...
3   Female  ...  Supermarkets, Convenience Stores, Sari-sari St...
4     Male  ...  Supermarkets, Convenience Stores, Department S...
..     ...  ...                                                ...
63    Male  ...  Supermarkets, Convenience Stores, Sari-sari St...
64    Male  ...  Supermarkets, Convenience Stores, Sari-sari St...
65  Female  ...  Supermarkets, Convenience Stores, Payment Cent...
66  Female  ...  Supermarkets, Department Stores, Appliance Cen...
67  Female  ...  Supermarkets, Convenience Stores, Sari-sari St...

[68 rows x 16 columns]

#Replace binned data removing redundant strings

In [7]:
responses_df['card_usage'] = responses_df['card_usage'].str.replace('4 times or less', '1 - 4')
responses_df['pay_app_usage'] = responses_df['pay_app_usage'].str.replace('4 times or less', '1 - 4')
responses_df['cashless_usage'] = responses_df['cashless_usage'].str.replace('4 times or less', '1 - 4')
responses_df['cashless_encounter'] = responses_df['cashless_encounter'].str.replace('4 times or less', '1 - 4')
responses_df['card_usage'] = responses_df['card_usage'].str.replace('15 times or more', '> 15')
responses_df['pay_app_usage'] = responses_df['pay_app_usage'].str.replace('15 times or more', '> 15')
responses_df['cashless_usage'] = responses_df['cashless_usage'].str.replace('15 times or more', '> 15')
responses_df['cashless_encounter'] = responses_df['cashless_encounter'].str.replace('15 times or more', '> 15')
responses_df['card_usage'] = responses_df['card_usage'].str.replace(' times', '')
responses_df['pay_app_usage'] = responses_df['pay_app_usage'].str.replace(' times', '')
responses_df['cashless_usage'] = responses_df['cashless_usage'].str.replace(' times', '')
responses_df['cashless_encounter'] = responses_df['cashless_encounter'].str.replace(' times', '')
opinions_df = responses_df
responses_df

       Sex  ...                            cashless_implement_want
0   Female  ...  Supermarkets, Convenience Stores, Payment Cent...
1     Male  ...  Supermarkets, Convenience Stores, Sari-sari St...
2     Male  ...  Supermarkets, Department Stores, Appliance Cen...
3   Female  ...  Supermarkets, Convenience Stores, Sari-sari St...
4     Male  ...  Supermarkets, Convenience Stores, Department S...
..     ...  ...                                                ...
63    Male  ...  Supermarkets, Convenience Stores, Sari-sari St...
64    Male  ...  Supermarkets, Convenience Stores, Sari-sari St...
65  Female  ...  Supermarkets, Convenience Stores, Payment Cent...
66  Female  ...  Supermarkets, Department Stores, Appliance Cen...
67  Female  ...  Supermarkets, Convenience Stores, Sari-sari St...

[68 rows x 16 columns]

# One-hot Encoding on `cashless_use_type`, `cashless_implement`, and `cashless_implement_want`

In [8]:
cleaned = responses_df.cashless_use_type.str.split(', ', expand=True).stack()
cleaned

0   0        Food and Groceries
    1    Office/School Supplies
    2             Cellular Load
    3                  Clothing
1   0             Cellular Load
                  ...
66  1    Office/School Supplies
    2           Online Shopping
67  0        Food and Groceries
    1             Cellular Load
    2                  Clothing
Length: 158, dtype: object

In [9]:
one_hot_use_type = pd.get_dummies(cleaned, prefix='use_type').groupby(level=0).sum()
one_hot_use_type

    use_type_Anything that’s purchase online   ...  use_type_pen tabs
0                                           0  ...                  0
1                                           0  ...                  0
2                                           0  ...                  0
3                                           0  ...                  0
4                                           0  ...                  0
..                                        ...  ...                ...
63                                          0  ...                  0
64                                          0  ...                  0
65                                          0  ...                  0
66                                          0  ...                  0
67                                          0  ...                  0

[68 rows x 22 columns]

In [10]:
cleaned = responses_df.cashless_implement.str.split(', ', expand=True).stack()
one_hot_implement = pd.get_dummies(cleaned, prefix='implement').groupby(level=0).sum()
cleaned = responses_df.cashless_implement_want.str.split(', ', expand=True).stack()
one_hot_want = pd.get_dummies(cleaned, prefix='implement_want').groupby(level=0).sum()

In [11]:
one_hot_use_type

    use_type_Anything that’s purchase online   ...  use_type_pen tabs
0                                           0  ...                  0
1                                           0  ...                  0
2                                           0  ...                  0
3                                           0  ...                  0
4                                           0  ...                  0
..                                        ...  ...                ...
63                                          0  ...                  0
64                                          0  ...                  0
65                                          0  ...                  0
66                                          0  ...                  0
67                                          0  ...                  0

[68 rows x 22 columns]

In [12]:
one_hot_implement

    implement_Appliance Centers  ...  implement_TNVS)
0                             1  ...                0
1                             0  ...                0
2                             1  ...                0
3                             0  ...                0
4                             1  ...                1
..                          ...  ...              ...
63                            1  ...                0
64                            0  ...                0
65                            0  ...                0
66                            1  ...                0
67                            1  ...                1

[68 rows x 15 columns]

In [13]:
one_hot_want

    implement_want_Appliance Centers  ...  implement_want_most have cashless maybe sari sari but i think it's impossible
0                                  0  ...                                                  0
1                                  1  ...                                                  0
2                                  1  ...                                                  0
3                                  1  ...                                                  0
4                                  1  ...                                                  0
..                               ...  ...                                                ...
63                                 1  ...                                                  0
64                                 1  ...                                                  0
65                                 0  ...                                                  0
66                                 1  ...                                                  0
67                                 1  ...                                                  0

[68 rows x 19 columns]

# Exploratory Data Analysis

## Dividing Students into Financial Brackets
When looking at the survey's overview, the proponents wanted to identify the habits of the students in terms of using cashless systems and its methods. However, since there can be various types of students with different financial standings, dividing them and finding habits for those specific groups will be done instead.

In [14]:
responses_df['allowance'].unique()

array(['1,000 - 4,999', 'Below 1,000', '8,000 - 11,999', '5,000 - 7,999',
       '15,000 - 19,999', '12,000 - 14,999', '25,000 and above'],
      dtype=object)

In [19]:
_1000 = responses_df[responses_df['allowance'] == 'Below 1,000']
_1000_4999 = responses_df[responses_df['allowance'] == '1,000 - 4,999']
_5000_7999 = responses_df[responses_df['allowance'] == '5,000 - 7,999']
_8000_11999 = responses_df[responses_df['allowance'] == '8,000 - 11,999']
_12000_14999 = responses_df[responses_df['allowance'] == '12,000 - 14,999']
_15000_19999 = responses_df[responses_df['allowance'] == '15,000 - 19,999']
_25000 = responses_df[responses_df['allowance'] == '25,000 and above']

     Sex  ...                            cashless_implement_want
43  Male  ...  Supermarkets, Convenience Stores, Department S...

[1 rows x 16 columns]

# Opinions Analysis

In [ ]:
adv = opinions_df.iloc[:,-3:-2]
disadv = opinions_df.iloc[:,-2:-1]

In [ ]:
adv = adv.iloc[:, 0].str.replace(',', ' ')
adv = adv.str.replace('.', ' ')
disadv = disadv.iloc[:, 0].str.replace(',', ' ')
disadv = disadv.str.replace('.', ' ')

In [ ]:
adv

In [ ]:
disadv

In [ ]:
Counter(adv.str.split().sum()).most_common()

In [ ]:
Counter(disadv.str.split().sum()).most_common()